{erl_opts, [debug_info]}.
{shell, [{apps, [erltorrent]}]}.

{deps,[
    {meck,           {git, "https://github.com/eproxus/meck",              {tag, "0.8.10"}}},
    {lager,          {git, "https://github.com/erlang-lager/lager",        {tag, "3.6.3"}}},
    {gen_bittorrent, {git, "https://github.com/bartima3us/gen_bittorrent", {ref, "5968368"}}},
    {erl_upnp,       {git, "https://github.com/bartima3us/erl-upnp",       {tag, "1.0.0"}}},
    {erline_dht,     {git, "https://github.com/bartima3us/erline-dht",     {ref, "4078f3a"}}}
]}.